#fixed-button{
    position:fixed;
    bottom:20px;
    right:20px;
    padding:10px 15px;
    background-color: #007bff;
    color:#fff;
    border-radius: 5px;
    cursor:pointer;
    z-index:1000;
}