 /* .box {
            width:100px;
            height:100px;
            margin:10px;
        }
        .box1 {
            background-color:red;
        }
        .box2 {
            background-color:blue;
            position:static;
            top:50px;
            left:50px; */ 
.box {
    width:100px;
    height:100px;
    background-color: lightblue;
    margin:20px;
}
.relative-box{
    position:relative;
    top:200px;
    left:200px;
    background-color: lightgreen;
}