* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
    width:1000px;
    height:700px;
}
body #orange{
    width: 700px;
    height:350px;
    margin:auto;
    background-color: orange;
    position:relative;
    top:35px;
    left:280px;
    padding:20px;
}
body #orange #backgroundcolor{
    width: 350px;
    height:170px;
    background-color: aquamarine;
    position:absolute;
}